name: Python checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - formatfusion/**

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run black
        run: poetry run black formatfusion --check

      - name: Run mypy
        run: poetry run mypy formatfusion --show-error-codes

  run-tests:
    runs-on: ubuntu-latest
    needs:
      - run-checks
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: false

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run unit tests
        run: python -m unittest discover -s tests